.btn{
    border-color: $smokyblack;
    font-weight: $bold;
    font-size: $x-large;
    border: 2px solid;
}
.btn:hover{
    border-color: $lightgray !important;
}

.btn:focus{
    color: $lightgray !important;
    border-color: $lightgray !important;
}